.khung{
	float: left;
	width: 500px;
	height: 600px;
	margin-left: 30%;
	background: #00FFFF;
}
.khung .register{
	float: left;
	width: 70%;
	height: 500px;
	/*background: #cccccc;*/
	margin-top: 50px;
	margin-left: 15%;
}
.register fieldset{
	height: 450px;
	background: #cccccc;
	border-radius: 5px;
	border: 0px;
	box-shadow: 30px 20px 30px #666;
}
.register legend.pic{
	width: 26%;
	height: 80px;
	margin-left:37%; 
	background:#FFD700;
	border-radius: 40px;
	box-shadow: 30px 20px 30px #666;
}
.pic img{
	width: 60%;
	height: 60%;
	margin-top: 20%;
	margin-left: 20%;
}
.register h3{
	display: block;
	width: 100%;
	height: 50px;
	/*background: yellow;*/
	text-align: center;
	font-weight: lighter;
	text-transform: capitalize;
	line-height: 50px;
	font-size: 25px;
	font-family: verdana;
}
.register input{
	width: 80%;
	height: 30px;
	margin-left: 10%;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 0px;
}
.register input.user{
	text-transform: capitalize;
	text-align: center;
	color: black;
}
.register input.pass{
	text-transform: capitalize;
	text-align: center;
	color: black;
}
.register input.confirm{
	text-transform: capitalize;
	text-align: center;
	color: black;
}
.register input.dangnhap{
	background: #1E90FF;
	color:white;
	text-transform: uppercase;
}
.register a.forget{
	float: left;
	margin-left: 35%;
	text-transform: capitalize;
	text-decoration: none;
	color: red;
}